$tableWidth: 780px;

.table-header {
  border-collapse: collapse;
  width: $tableWidth;
  td {
    border: 2px solid black;
    border-top: none;
    padding: 0 10px;
    
    &:first-child {
      border-left: none;      
    }

    &:nth-child(2) {
      font-size: 120%;
    }

    &:nth-child(3) {
      text-align: right;
      border-right: none;
    }
  }
}

.table-body {
  border-collapse: collapse;
  width: $tableWidth;

  td {
    border: 1px solid black;
    border-top: none;
    padding-left: 5px;
    line-height: 65%;
    
    span {
      font-size: 60%;
    }

    h4 {
      font-size: 80%;
      margin: 4px 0 2px;
      font-weight: 700;

      p {
        line-height: 100%;
      }
    }

    &:nth-child(1) {
      width: 75%;
      border-left: none;
    }

    &:last-child {
      border-right: none;      
      >h4 {
        text-align: right;
        padding-right: 5px;
      }
    }
  }

  td.table-in1 {
    padding: 0;
    position: relative;

    >div {
      $padL: 5px;
      padding-left: $padL;
      top: 0;
      left:0;
      position: absolute;
      height: 100%;
      $w1: 110;
      $w2: 194;
      $w3: 116;
      $w4: 60;
      $w5: 99;

      &:nth-child(1) {
        /*background: plum;*/
        width: calc(#{$w1}px - #{$padL});
      }
      &:nth-child(2) {
        /*background: blue;*/
        left: #{$w1}px;
        width: calc(#{$w2}px - #{$padL});
        border-left: 1px solid black;
      }
      &:nth-child(3) {
        /*background: orange;*/
        left: #{($w1 + $w2)}px;
        width: calc(#{$w3}px - #{$padL});
        border-left: 1px solid black;
      }
      &:nth-child(4) {
        /*background: red;*/
        left: #{($w1 + $w2 + $w3)}px;
        width: calc(#{$w4}px - #{$padL});
        border-left: 1px solid black;
      }
      &:nth-child(5) {
        /*background: deeppink;*/
        left: #{($w1 + $w2 + $w3 + $w4)}px;
        width: #{$w5}px;
        border-left: 1px solid black;
      }
    }
  }

  td.table-in2 {
    padding: 0;
    position: relative;

    >div {
      $padL: 5px;
      padding-left: $padL;
      top: 0;
      left:0;
      position: absolute;
      height: 100%;
      $w1: 110;
      $w2: 100;
      $w3: 94;
      $w4: 176;
      $w5: 99;

      &:nth-child(1) {
        width: calc(#{($w1)}px - #{$padL});
      }
      &:nth-child(2) {
        left: #{$w1}px;
        width: calc(#{($w2)}px - #{$padL});
        border-left: 1px solid black;
      }
      &:nth-child(3) {
        left: #{($w1 + $w2)}px;
        width: calc(#{($w3)}px - #{$padL});
        border-left: 1px solid black;
      }
      &:nth-child(4) {
        left: #{($w1 + $w2 + $w3)}px;
        width: calc(#{($w4)}px - #{$padL});
        border-left: 1px solid black;
      }
      &:nth-child(5) {
        /*background: blue;*/
        left: #{($w1 + $w2 + $w3 + $w4)}px;
        width: #{$w5}px;;
        border-left: 1px solid black;
      }
    }
  }

  td.table-in3 {
    padding: 0;
    position: relative;

    >div {
      $padL: 5px;
      /*background: yellow;*/
      padding-left: $padL;
      top: 0;
      left:0;
      position: absolute;
      height: 100%;
      width: calc(100% - #{$padL});
    }
  }

  tr.sacado {
    td:nth-child(1) {
      border-right: none;
    }

    td:nth-child(2) {
      border-left: none;
    }
  }

  tr.barcode {
    td {
      border-bottom: none;
      border-right: none;
      border-left: none;
      canvas {
        margin-top: 5px;
      }

      &:nth-child(2) {
        vertical-align: top;
      }
    }
  }
}


// table.table-control {
//   border-collapse: collapse;
//   td {
//     // border: 1px blue solid;
//     &:nth-child(1) {
//       vertical-align: top;
//     }
//   }
//   tr {
//     &:nth-child(1) {
//       td {
//         // background: blue;
//       }
//     }

//     &:nth-child(2) {
//       td {
//         // background: orange;
//         > div {
//           position: relative;
//           top: -12px;
//           height: 30px;
//         }
//       }
//     }

//     &:nth-child(3) {
//       td {
//         padding: 0;
//         margin: 0;
//         //background: lightsalmon;
//         >div {
//           position: relative;
//           top: -22px;
//           height: 0;
//         }
//       }
//     }

//     &:nth-child(4) {
//       td {
//         padding: 0;
//         margin: 0;
//         // background: yellow;
//         > div {
//           position: relative;
//           top: -12px;
//           height: 30px;
//         }
//       }
//     }

//     &:nth-child(5) {
//       td {
//         padding: 0;
//         margin: 0;
//         // background: orange;
//         >div {
//           position: relative;
//           top: -22px;
//           height: 0;
//         }
//       }
//     }
//   }
// }