@mixin drawer-keyframe($name, $from, $to) {
  @keyframes #{$name} {
    from {margin-left: $from;}
    to {margin-left: $to;}
  }
}

@mixin margin-anime ($name) {
  animation-duration: .2s;
  animation-fill-mode: forwards;
  animation-name: #{$name};
  animation-timing-function: ease-in;
}

@include drawer-keyframe('ctt-open', 0, 280px);
@include drawer-keyframe('ctt-close', 280px, 0);

.margin-open {
  @include margin-anime('ctt-open');
}

.margin-close {
  @include margin-anime('ctt-close');
}

.flex-container {
  >div {
    align-content: stretch;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

    >div:nth-child(1) {
      align-self: auto;
      flex: 3 1 auto;
      order: 0;
      padding: 5px;
    }

    >div:nth-child(2) {
      align-self: auto;
      flex: 1 1 auto;
      order: 0;
    }
  }
    
}
@media only screen and (max-width: 960px), 
  (max-device-width: 960px) and (orientation: portrait) {
  .flex-container {
    >div {
      flex-direction: column;
    }
  }
}