@import '../base';
@import '../colors';

@mixin menu-keyframe($name, $mgfrom, $mgto, $vfrom, $vto) {
  @keyframes #{$name} {
    from {
      margin-left: $mgfrom;
      visibility: $vfrom;
    }

    to {
      margin-left: $mgto;
      visibility: $vto;
    }
  }
}

@mixin menu-animate ($name) {
  animation-duration: .2s;
  animation-fill-mode: forwards;
  animation-name: #{$name};
  animation-timing-function: ease-in;
}

@include menu-keyframe('mnu-open', 0, 225px, visible, hidden);
@include menu-keyframe('mnu-close', 225px, 0, hidden, visible);

.header {
  align-content: center;
  align-items: center;
  background: $gray-g01;
  background: linear-gradient(to bottom, $gray-g01 0%, $gray-g02 49%, $gray-g03 50%, $gray-g04 100%);
  box-shadow: 0 3px 4px 0 $gray-05;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 58px;
  justify-content: flex-start;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  .menu-open {
    @include menu-animate('mnu-open');
  }

  .menu-close {
    @include menu-animate('mnu-close');
  }

  .item {
    align-self: auto;
    line-height: 40px;
    margin: 0 5px;
    order: 0;

    &:nth-child(1) {
      flex: 0 1 auto;

      .hambuerger {
        @include debug-border;
        color: $default-text-color;
        cursor: pointer;
        padding: 18px 10px;
        vertical-align: middle;
      }
    }

    &:nth-child(2) {
      @include debug-border;
      color: $default-text-color;
      flex: 1 1 auto;
    }

    &:nth-child(3) {
      @include debug-border;
      flex: 0 1 auto;
      padding: 0 5px;

      span {
        font-weight: normal;
      }
    }
  }
}
