@import './colors';
$debug: false;
$color-debug: #f00;

@mixin debug-border {
  @if($debug) {
    border: 1px solid $color-debug;
  }
}

h1, h2, h3, h4, h5, a, p, div {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 120%;
}

a {
  text-decoration: none;

  &:visited {
    color: $default-text-color;
  }

  &:link {
    color: $default-text-color;
  }
}
