@import './../../base.scss';

.cnpj {
  > div {
    @include debug-border;
    //height:(90vh);
  }

  .gerar-cnpj {
    margin: 5px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    >div:nth-child(1) {
      padding: 10px;
      //background: #FFA8A8;
      order: 0;
      flex: 0 0 120px;
      align-self: auto;
    }

    >div:nth-child(2) {
      padding: 10px;
      //background: #799EEC;
      order: 0;
      flex: 3 1 auto;
      align-self: auto;
    }
  }

  .gera-cnpj-mob, .validar-cnpj-mob {
    display: none;
  }

  .validar-cnpj {
    margin: 5px 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    >div:nth-child(1) {
      padding: 10px;
      order: 0;
      flex: 3 0 auto;
      align-self: auto;
    }

    >div:nth-child(2) {
      padding: 10px;
      order: 0;
      flex: 1 0 auto;
      align-self: auto;
    }
  }

  @media only screen and (orientation: portrait) and (max-width: 730px) and (max-device-width: 730px) {
    .gerar-cnpj {
      display: none;
    }
    .gera-cnpj-mob {
      display: table;
      width:100%;
      td {
        white-space: nowrap;
        //background:orange;
        &:nth-child(1) {
          width: 3%;
        }
        &:nth-child(2) {
          padding: 0 0 0 10px;
          width: 90%;
        }
        &:nth-child(3) {
          padding: 0 5px 0 15px;
        }
      }
    
    }

    .validar-cnpj {
      display: none;
    }

    .validar-cnpj-mob {
      display: table;
      width:100%;
      tr:nth-child(2) {
        td:nth-child(1) {
          width: 70%;
        }
      }
    }
  }  
  
  .btn-add {
    @include debug-border;
    position: fixed;
    margin: 20px;
    bottom: 0;
    right: 0
  }
}