@import './../../colors.scss';

@mixin cnpjitem($text) {
  background: url('../../../assets/images/cnpj_mini.png') 0 center no-repeat;
    height: 20px;
    width: 56px;
    &:after {
      color: if($text == 'válido', green, red);
      content: $text;
      display: block;
      font-size: 11px;
      @if($text == 'inválido') {
        font-weight: bold;
        letter-spacing: 2px;
      }
      @if($text == 'válido') {
        letter-spacing: 4px;
      }
      position: relative;
      text-align: center;
      top: 18px;
      width: 66px;
    }
}

.cnpj-item {
  margin: -25px 0 10px 0;
  padding: 10px 5px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
  opacity: 0;
  table {
    border-collapse: collapse;
    tr {
      td.copiedF {
        >.value {
          &:before {
            content: ' ';
            position: absolute;
            margin-left: -2px;
            margin-top: 4px;
            height: 11px;
            width: 152px;
            background: linear-gradient(to bottom, rgba(255,255,255,0.00) 20%, rgb(179, 128, 128) 50%, rgba(255,255,255,0) 80%);
          }
        }
        >.label {
          visibility: visible;
        }
      }

      td.copied {
        >.value {
          &:before {
            content: ' ';
            position: absolute;
            margin-left: -2px;
            margin-top: 4px;
            height: 11px;
            width: 132px;
            background: linear-gradient(to bottom, rgba(255,255,255,0.00) 20%, rgb(179, 128, 128) 50%, rgba(255,255,255,0) 80%);
          }
        }
        >.label {
          visibility: visible;
        }
      }
      td {
        >.value {
          margin-top: 10px;
          text-decoration: none;
        }

        >.label {
          visibility: hidden;
          font-size: 10px;
          color: #777;
        }
      }

      td:nth-child(2) {
        border-right: 1px solid #acacac;
        width: 10px;
      }

      td:nth-child(3) {
        padding-left: 10px
      }

      td:nth-child(5) {
        width: 15px;
      }
    }
  }

  @media only screen and (orientation: portrait) and (max-width: 730px) and (max-device-width: 730px) {
    table {
      tr {
        td:nth-child(3) {
          padding-left: 10px
        }

        td:nth-child(n+5) {
          display: none;
        }
      }
    }
  }

  svg {
    > path {
      fill: #888;
    }
  }
}

.show-valid {
  background: radial-gradient(ellipse at center, rgba(4, 231, 79, .2) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
  background-position: 0 50px;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgba(4, 231, 79, .6);
  
  tbody {
    > tr > td:first-child {
      @include cnpjitem('válido');
    }
  }
}

.show-invalid {
  background: radial-gradient(ellipse at center, rgba(255, 0, 0, .2) 0%, rgba(255,255,255,1) 85%, rgba(255,255,255,1) 100%);
  background-position: 0 50px;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgba(255, 0, 0, .6);

  tbody {
    > tr > td:first-child {
      @include cnpjitem('inválido');
    }
  }
}

.show {
  transition: opacity .3s ease-out, margin-top .2s ease-in;
  opacity: 1;
  margin-top: 0;
}