.content {
  align-content: stretch;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 55px;

  >.nav-bar {
    align-self: auto;
    flex: 0 1 auto;
    order: 0;
  }

  >.frame {
    align-self: auto;
    flex: 1 1 auto;
    order: 0;
  }

  >.context {
    align-self: auto;
    flex: 0 1 auto;
    order: 0;
  }
}
